@font-face {
  font-family: "aleo";
  src: url(fonts/aleo-regular-webfont.woff) format(woff);
  src: url(fonts/aleo-regular-webfont.woff2) format(woff2);
  font-weight: 500;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --default-box-shadow: 1px 1px 8px 4px rgba(203, 203, 203, 0.263);
  --full-curve-border-radius: 25px;
  --task-date-background-color:  rgba(211, 204, 250, 0.679);
}

body {
  font-family: "aleo";
  font-weight: 600;
}

ul {
  list-style: none;
  display: grid;
  gap: 24px;
  grid-template-rows: 4fr 4fr 4fr 4fr;
}

ul li button {
  padding: 8px;
  background-color: inherit;
  border: none;
  font-size: 1.2rem;
}

li {
  align-items: center;
  display: flex;
  padding: 12px;
  width: 201%;
  border-radius: 25px 0px 0px 25px;
}

li img {
  width: 1.4rem;
}

#home {
  background-color: #e1e2ec;
  border-radius: 50px;
  display: grid;
  grid-template-rows: 1fr 3fr;
  gap: 16px;
  padding: 25px;
}

#dashboard {
  align-items: start;
  height: 96vh;
  display: grid;
  grid-template-rows: 0.1fr 4fr;
  gap: 24px;
  padding: 25px;
  justify-content: flex-start;
  grid-area: 1 / 1;
}

#container {
  padding: 14px;
}

li:hover {
  cursor: pointer;
  background-color: #e1e2ec;
}
li button:hover {
  cursor: pointer;
}

#greetingContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#helloCard {
  display: grid;
  grid-template-columns: 6fr 3fr;
  align-items: start;
  width: auto;
  justify-content: space-evenly;
  border-radius: var(--full-curve-border-radius);
  background-color: white;
  padding: 25px;
  box-shadow: var(--default-box-shadow);
}

#imageContainer img {
  width: 24%;
  height: 29%;
  position: absolute;
  right: 20rem;
  top: -0.8rem;
  overflow: visible;
}

#mainContainer {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 24px;
}

#tasksContainer {
  border-radius: var(--full-curve-border-radius);
  background-color: white;
  box-shadow: var(--default-box-shadow);
}

#taskEditor {
  background-color: white;
  border-radius: var(--full-curve-border-radius);
  box-shadow: var(--default-box-shadow);
}

#tasksContainer {
  display: grid;
  grid-template-rows: 2fr 0.1fr 1.4fr 0.1fr;
}

hr {
  border-color: rgba(252, 251, 251, 0.501);
  height: 0px;
  width: 90%;
  justify-self: center;
}

#todayList {
  padding: 20px;
  display: grid;
  gap: 14px;
  grid-template-rows: 1fr 0.01fr;
}

#miscellaneous {
  padding: 0px 20px;
}

#quickAdder {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 0.05fr;
  align-items: center;
  border-radius: 0px 0px 25px 25px;
}

#quickAdder #addTask {
  padding: 12px 14px;
  font-weight: 400;
  font-size: 1rem;
  border-radius: 15px;
  border: none;
  color: black;
  background-color: #e3e3e7c8;
  width: 100%;
}

#addTask:focus {
  outline-color: rgb(210, 190, 233);
}

#addButton {
  background-color: inherit;
  border: none;
}

#addButton:hover {
  cursor: pointer;
}

#addButton img {
  margin: 0px 12px 4px 5px;
  width: 100%;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 2rem;
  transform: scale(0.5);
  padding: 2px;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
}

input[type="checkbox"]:checked {
  background-color: rgba(111, 18, 250, 0.866);
}

input[type="checkbox"]::before {
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  margin-top: 9px;
  transform: scale(1);
  clip-path: polygon(12% 44%, 39% 63%, 81% 14%, 93% 23%, 41% 83%, 5% 56%);
  background-color: white;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

#task {
  padding: 12px;
  background-color: var(--task-date-background-color);
  border-radius: 25px;
  display: grid;
  grid-template-columns: 0.49fr 4fr 0.5fr;
  grid-template-rows: 1fr;
}

#task:hover {
  cursor: pointer;
}

#task p:first-child {
  font-size: 1rem;
}

#task p:nth-child(2) {
  font-size: 0.94rem;
  color: rgba(20, 20, 20, 0.668);
}

.deleteButton img {
  width: 80%;
}

.deleteButton {
  display: flex;
  border: none;
  padding: 12px;
  background-color: rgba(211, 204, 250, 0);
  align-items: center;
  justify-content: center;
}

.deleteButton:hover {
  cursor: pointer;
}

#done {
  padding: 0px;
  display: grid;
  gap: 14px;
}

#taskEditor {
  display: grid;
  grid-template-rows: 0.1fr 0.02fr 0.1fr 4fr;
  gap: 16px;
  padding: 25px;
}

#chipContainer {
  display: flex;
  gap: 12px;
}

#dateChip {
  display: flex;
  gap: 4px;
  font-size: 0.8rem;
  border-radius: 25px;
  width: 20%;
  background-color: #e1e2ece1;
  align-items: center;
  justify-content: center;
  padding: 8px 8px;
}

#dateChip:hover {
  cursor: pointer;
}

#taskInput {
  border: none;
  font-size: 1.4rem;
}

#taskInput:focus{
  outline: none;
}

#taskEditor #notesContainer textarea {
  border: none;
  background-color: #e1e2ece1;
  border-radius: var(--full-curve-border-radius);
  padding: 15px;
  height: 100%;
  resize: none;
}

#taskEditor textarea:focus {
  outline: none;
}

#notesContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#userSection {
  display: grid;
  grid-template-rows: 0.1fr 1fr;
  padding: 25px;
  background-color: #e1e2ec;
  border-radius: 50px;
}

#taskManager {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 24px;
}

#projects {
  background-color: #e1e2ec;
  padding: 25px;
  border-radius: 50px;
}

#dialogBox {
  align-self: center;
  justify-self: center;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: none;
  border-radius: var(--full-curve-border-radius);
}

#dialogBox button:hover {
  cursor: pointer;
}

#dialogBox img {
  width: 100%;
}

#newTaskForm input {
  padding: 12px 16px;
  font-size: 0.9rem;
  font-weight: 400;
  border: 2px solid rgb(159, 156, 163);
  border-radius: 12px;
  background-color: #ffffffab;
}

#newTaskForm
{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

#newTaskForm input:focus {
  outline: none;
  border-color: rgb(210, 190, 233);
}

#newTaskForm button {
  background-color: #e1e2ec;
  border: none;
  width: 50%;
  border-radius: 12px;
  font-size: 1.03rem;
  padding: 12px;
}

#newTaskForm button:hover {
  background-color: #c6caf4;
}

#closeButton {
  background: none;
  border: none;
  width: 12%;
}